/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.m-auto {
  margin: auto;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
.w-fit {
  width: fit-content;
}
.p-5 {
  padding: 5px;
}
.text-center {
  text-align: center;
}
.snackbar-red > .mdc-snackbar__surface {
  background-color: red !important;
}
.snackbar-green > .mdc-snackbar__surface {
  background-color: green !important;
}
